body{
    width: 800px;
    height: 2000px;
    border: 1px solid black;
    font-family: 'DM Sans', sans-serif;
}
.navbar{
    color: black;
    border-bottom: 2px solid red;
}
.navbar img{
    width: 35vw;
    height: 20vw;
    vertical-align: middle;
    margin-right: 15px;
}
.navbar a{
    color: black;
    font-weight: 600;
    margin-left: 10px;
    text-decoration: none;
    line-height: 20vw;
    font-size: 14px;
}
.navbar button{
    color: white;
    font-weight: 500;
    font-size: 15px;
    background: deepskyblue;
    border: none;
    border-radius: 5px;
    padding: 8px 8px;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    vertical-align: middle;
}